
.calendarDay {
  width: 10em;
  padding: 0 1em 0 1em;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.containerMovementButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 4em;
  justify-content: center;
}

.containerAllUls {
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1em 1em 1em 0em;
}

.containerMyRoutines {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #bdb9b7;
  border-radius: 15px;
}

.navLink {
  color: #fff;
  text-decoration: none;
  margin-right: 1.5em;
}

.navLinkContainer {
  display: flex;
  align-items: center;
}

.buttonShake {
  animation: shake 0.5s infinite;
}

@media (min-width: 375px) {
  .containerMyRoutines {
    min-width: 95vw;
    min-height: 300px;
    padding: 2em 0.5em 6em 0.5em;
  }

  .containerAllUls {
    width: 95%;
  }

  .calendarColumn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-bottom: solid 1px;
    padding: 1em 1em 1em 0;
  }
  
  .calendarDayExerciseContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
  }

  .containerDayExerciseButtonContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .containerButtonsDays {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    background-color: #bdb9b7;
    border-radius: 15px;
    padding: 1.5em 1.5em 1.5em 1.5em;
    margin-bottom: 4em;
    margin-top: 2em;
    }
  
    .columnDay {
      padding: 0 1em 0 0;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
    }

    .containerButtonsAndSet {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 2em;
      background-color: #bdb9b7;
      border-radius: 15px;
      padding: 1.5em 1em 1.5em 1em;
    }

    .columnListExercisesPushedLeft {
      width: 100%;
      background-color: grey;
      border-radius: 15px;
      padding: 1.5em 1.5em 1.5em 1.5em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      height: 30%;
      margin-bottom: 2em;
    }

    .divRightContainerOfPhase3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      animation-name: bigger;
      animation-duration: 0.5s;
    }
    
    .greyContainerOfSet {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2em;
      background-color: grey;
      border-radius: 15px;
      padding: 3em 3em 3em 3em;
      width: 100%;
    }

    .greenBlock {
      position: relative;
      background-color: rgb(15, 175, 15);
      border-radius: 15px;
      padding: 2em 2em 2em 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      animation-name: bigger;
      animation-duration: 0.5s;
    }
}

@media (min-width: 600px) {
  .containerMyRoutines {
    width: 90%;
    min-height: 300px;
    padding: 2em 2em 6em 2em;
  }

  .greenBlock {
    position: relative;
    background-color: rgb(15, 175, 15);
    border-radius: 15px;
    padding: 3em 3em 3em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: bigger;
    animation-duration: 0.5s;
  }
}

@media (max-width: 1280px) {
  .containerAllUls {
    width: 85%;
  }
}

@media (min-width: 1280px) {
  .containerMyRoutines {
    width: 900px;
    min-height: 300px;
  }

  .containerAllUls {
    width: 80%;
  }

  .calendarColumn {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-bottom: none;
    border-right: solid 1px;
    padding: 0 0 0 0;
  }

  .calendarDayExerciseContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  .containerDayExerciseButtonContainer{
    display: flex;
    flex-direction: column;
  }

  .containerButtonsDays {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #bdb9b7;
  border-radius: 15px;
  padding: 1.5em 1.5em 1.5em 1.5em;
  margin-bottom: 4em;
  margin-top: 2em;
  }

  .columnDay {
    margin-top: 0;
    border-right: solid 1px;
    padding: 0 1em 0 1em;
    margin-bottom: 0;
  }

  .containerButtonsAndSet {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 2em;
    background-color: #bdb9b7;
    border-radius: 15px;
    padding: 1.5em 1em 1.5em 1em;
  }

  .columnListExercisesPushedLeft {
    width: 15%;
    background-color: grey;
    border-radius: 15px;
    padding: 1.5em 1.5em 1.5em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
  }

  .divRightContainerOfPhase3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    animation-name: bigger;
    animation-duration: 0.5s;
  }
  
  .greyContainerOfSet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    background-color: grey;
    border-radius: 15px;
    padding: 3em 3em 3em 3em;
    width: 80%;
  }

  .greenBlock {
    position: relative;
    background-color: rgb(15, 175, 15);
    border-radius: 15px;
    padding: 5em 5em 5em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    animation-name: bigger;
    animation-duration: 0.5s;
  }
}

@keyframes bigger {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
